.infoBox {
  flex: 1;
  cursor: pointer;
}

.infoBox:not(:last-child) {
  margin-right: 10px;
}

.infoBox--selected {
  border-top: 10px solid greenyellow;
}

.infoBox--red {
  border-color: red;
}

.infoBox--black {
  border-color: black;
}

.infoBox__cases {
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cases {
  color: #cc1034;
}

.recovered {
  color: #10cc29;
}

.infoBox__title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoBox__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (orientation: portrait) and (max-width: 450px) {
  .infoBox__title {
    font-size: 4.7vmin !important;
  }

  .infoBox__cases {
    font-size: 5vmin;
  }
}
